{% extends "base.html" %}

{% block content %}
    <div class="page-title row">
        <div class="col-md-11">
            <h2>{{page.title}}</h2>
        </div>
        {% if g.user and g.user.is_authenticated() %}
        <div class="col-md-1 btn-page-edit">
            <a href="{{ url_for('pages.edit_page', id=page.id) }}" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-pencil"></span> Edit Page</a>
        </div>
        {% endif %}
    </div>

    {% autoescape false %}
    {{page.rendered_content()}}
    {% endautoescape %}
{% endblock %}
