{% extends "base.html" %}
{% block content %}
    <div class="page-title row">
        <div class="col-md-11">
            <h2>{{post.title}}</h2>
        </div>
        {% if g.user and g.user.is_authenticated() %}
            <div class="col-md-1 btn-page-edit">
                <a href="{{ url_for('blog.edit_post', id=post.id) }}" class="btn btn-default" role="button">
                    <span class="glyphicon glyphicon-pencil"></span> Edit Post</a>
            </div>
        {% endif %}
    </div>
        <p>Posted by {{post.author.display_name}}</p>
            {% autoescape false %}
                {{post.rendered_content()}}
            {% endautoescape %}
{% endblock %}
