.page-title {
    border-bottom: 1px solid #EEE;
    padding-bottom: 11px;
    margin-bottom: 20px;
}

div .btn-page-edit {
    margin-top:1.2em;
    padding-left:0em;
}


div .btn-page-edit a {
    padding-right : 6px;
    padding-left : 12px;

}
