.page-title {
    border-bottom: 1px solid #EEE;
    padding-bottom: 11px;
    margin-bottom: 20px;
}

div .btn-page-edit {
    margin-top:1.2em;
    padding-left:0em;
}


div .btn-page-edit a {
    padding-right : 6px;
    padding-left : 12px;

}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 65px;
    background-color: #EEE
}

.footer .container {
    margin-top: 1.4em;
}

.menu-active {
    background-color : #EEE;
}
