{% extends "base.html" %}

{% block content %}
<h1>Edit Config</h1>
    <form action='{{ url_for('config.edit_config') }}' method='post' name='edit_config'>
        {{form.hidden_tag()}}
        <p>{{form.site_display_name(class='form-control', placeholder='Display Name')}}</p>
        <p>{{form.site_title(class='form-control', placeholder='Title')}}</p>
        <p>{{form.site_strap_line(class='form-control', placeholder='Strap Line')}}</p>
        <p>{{form.index_page_id(class='form-control')}}</p>
        <br/>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Mail Server Settings</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <br/>
                    <p>{{form.mail_server(class='form-control', placeholder='Email Server URL')}}</p>
                    <p>{{form.mail_port(class='form-control', placeholder='Port')}}</p>
                    <p>{{form.mail_username(class='form-control', placeholder='Username')}}</p>
                    <p>{{form.mail_password(class='form-control', placeholder='Password')}}</p>
                    <div class="checkbox">
                        <label>
                            {{form.mail_use_tls(class='form-control', label='Enable TLS')}} Enable TLS
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            {{form.mail_enable(class='form-control', label='Enable Emails')}} Enable Emails
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <button type='submit' class='btn pull-right'><span class='glyphicon glyphicon-floppy-disk'></span> Save Config</button>
    </form>
{% endblock %}
