{% extends "base.html" %}

{% block content %}
<h1>Create Page</h1>
    {% if page_id %}
    <form action='/page/edit/{{page_id}}' method='post' name='edit_page'>
    {% else %}
    <form action='/page/create' method='post' name='create_page'>
    {% endif %}
        {{form.hidden_tag()}}
        <p>Title: {{form.title()}}</p>
        <p>Content: {{form.content()}}</p>
        <button type='submit' class='btn'>Save Page <span class='glyphicon glyphicon-floppy-disk'></span></button>
    </form>
{% endblock %}
